.headerContant{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #1d3297;
}
.headerContainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.logoutBtn{
    width:105px;
    height: 35px;
    background-color: white;
    color: #1d3297;
    border: 1px solid#e30cbe;
    border-radius: 50px;
    position: absolute;
    right: 30px;
    cursor: pointer;
}
.headerTitle{
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
}
.instagramLink{
    color: white;
    margin-left: -7px;
}
.wigetArea{
    display: flex;
    align-items: center;
    position: absolute;
    left: 30px;
}
.bargerIcon{
    color: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.sideWiget{
    background: white;
    width: 400px;
    height: 100%;
    /* height: calc(100vh - 60px);
    top: 60px;
    position: relative; */
}
.sideWigetHeader{
    height: 60px;
    display: flex;
    background: rgb(233, 229, 16);
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 30px;
}
.sideWigetCloseIcon{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.sideWigetLabel{
    font-size: 18px;
    text-align: left;
    padding: 0px 0px 5px 30px;
    border-bottom: 1px solid;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.wigetRootStyle{
    transition: 1s;
    transform: translate(-100%, 0);
}
/* レスポンシブ対応 */
@media screen and (max-width: 959px) {
    .headerTitle{
        font-size: 15px;
    }
    .bargerIcon{
        color: white;
        width: 20px;
        height: 20px;
    }
}