.templateContentBase{
    height: 100%;
}
.templateContent{
    height: 100%;
}
.templateDummyElem{
    height: 60px;
}
.templateContainer{
    display: flex;
    height: calc(100% - 60px);
    justify-content: center;
    align-items: center;
}
.templateBody{
    height: 90%;
    width: 70%;
    margin: 0 auto;
    text-align: left;
}
.wigetIcon{
    margin-right: 10px;
    height: 25px;
    width: 25px;
}